<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../../style.css">
    <script src="../../../../../logic.js"></script>
</head>
<body id="subscriptionsbody">
    <section class="container">
    <div class="image-container">
        <img src="https://img.freepik.com/foto-gratis/pesos-ejercicio-pesas-fuerte-atletica_1139-709.jpg?w=996&t=st=1682073777~exp=1682074377~hmac=620702133e42b980b1ba622263345b01c08dd86fcc06089f82d2b6ab11845996" class="fondo" alt="gym">
        <div class="button-container">
            <a href="/">Home</a>
            <a href="/subscriptions">Subscriptions</a>
            <a href="/membercard">Member Card</a>
            <a href="/registration">Sign Up</a>

        </div>

    </div>
    <div class="tb">
        <table class="tablesubs">
          <tr onclick="selectRow(this)">
            <th>AbsoluteFit Liberty</th>
            <th>Garden Route</th>
            <th>678467283</th>
          </tr>
          <tr onclick="selectRow(this)">
            <td>AbsoluteFit Coccor</td>
            <td>Old Boulevard</td>
            <td>646789823</td>
          </tr>
          <tr onclick="selectRow(this)">
            <td>AbsoluteFit Pipera</td>
            <td>Providence Passages</td>
            <td>637849023</td>
          </tr>
          <tr onclick="selectRow(this)">
            <td>AbsoluteFit Vitan</td>
            <td>Starlight Avenue</td>
            <td>678392026</td>
          </tr>
        </table>
      </div>
      
    
</section>
</body>
</html>