body{
    background: black;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  .container{
    width: 800px;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin: 0px auto;
    border: 5px solid #d37224;
    border-width: 2px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(255, 166, 0, 0.322);
    
  }
  .container img{
      width: 800px;
      height:500px;
      border-radius: 5px;
    
  }
  
  .container h1{
  font-size: 3.5rem;
  color:#d37224;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  
  .container h2{
  font-size: 1.5rem;
  color: white;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  /*Styles for header */
  
  h1, h2, h3 {
    color: #fff;
    text-align: center;
  }
  
  h1 {
    font-size: 3.5rem;
  	
  }
  
  h2 {
    font-size: 1.5rem;
    font-family: monospace;
  }
  
  h3 {
    font-size: 1.5rem;
  }
  
  
  /*Head*/
  header{
  width: 100%;
  height: 600px;
  background-size: cover;
    position: relative;
    
  }
  
  div {
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(48, 31, 0);
  }

  /*Buttons header*/
  a {
      display: inline-block;
      margin: 11px;
      padding: 10px;
      text-decoration: none;
      /*background-color: rgba(0, 0, 0, 0);*/
      color: #fff;
      text-shadow: orange 0px 0px 3px;
      border-radius: 20px;
      border: 2px solid orange;
  }
  
  /* Registration form */
  form {
      max-width: 450px;
      margin: 0 auto;
      padding: 0px;
      background-color: rgb(255, 255, 255);
      border-radius: 20px;
      border: 2px solid orange;
      text-align: center;
      box-shadow: 0px 0px 30px rgba(255, 166, 0, 0.322);
  }
  
  /* Registration form */
  label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"],
  
  
  /*Country*/
  select {
      display: block;
      width: 100%;
      padding: 5px;
      font-size: 1rem;
      margin-bottom: 30px;
      border-radius: 0,5px;
      border: 2px solid #ccc;
      box-sizing: border-box;
  }
  
  /*Gender*/
  input[type="radio"],
  input[type="checkbox"] {
      display: inline-block;
      margin-right: 10px;
  }
  
  /* Style- send button */
  input[type="submit"] {
      background-color: #d37224;
      color: #fff;
      padding: 5px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1rem;
  }

p {
    margin-left: 20px;
    color: #d37224;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: black px 1px 1px;
    text-align: left;
}
